.button {
  width: 269px;
  height: 51px;
  border-radius: 50px;
  background-color: #9C9C9C;
  border-color: #9C9C9C;
  font-size: 20px;
  line-height: 20px;
  color: #393939;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: 'seoulhangang';
  cursor: pointer;
}

table {
  /* table 가운데 정렬 */
  margin-left:auto; 
  margin-right:auto;
}

table, td, th {
  border-collapse : collapse;
  border : 1.5px solid gray;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
};