.toast-alert {
  background-color: rgba(156, 156, 156, 0.5);
  border: 1px solid rgba(156, 156, 156, 0.1);
  border-radius: 25px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  height: 30px;
  width: 250px;
  padding: 5px;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.toast-alert img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.toast-alert p {
  margin: 0;
  font-family: 'seoulhangang';
}
