.button {
  width: 269px;
  height: 51px;
  border-radius: 50px;
  background-color: #F9B5D0;
  border-color: #F9B5D0;
  font-size: 20px;
  line-height: 20px;
  color: #FF597B;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: var(--font-seoulhangang);
  cursor: pointer;
}