.button {
  width: 269px;
  height: 51px;
  border-radius: 50px;
  background-color: #9C9C9C;
  border-color: #9C9C9C;
  font-size: 20px;
  line-height: 20px;
  color: #393939;
  margin-top: 9px;
  margin-bottom: 9px;
  font-family: 'seoulhangang';
  cursor: pointer;
}

