.layout{
  margin: 0;
  width: 390px;
  height : 844px;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("../images/Recycled Paper.PNG");
}

.main{
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}